#editor {
    position: absolute;
    top: 50px;
    right: 300px;
    bottom: 0;
    left: 0;
}

#search-result {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 300px;
    overflow: scroll;
}

#alert-area {
    position: fixed;
    z-index: 2000;
    display: block;
    top: 100px;
    width: 300px;
    left: 50%;
    margin-left:-150px;
}

.tag {
    background-color: #e0eaf1;
    border-bottom: 1px solid #b3cee1;
    border-right: 1px solid #b3cee1;
    padding: 3px 4px 3px 4px;
    margin: 2px 2px 2px 0;
    text-decoration: none;
    font-size: 90%;
    color: #555;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
}